*{
    font-family: 'Kanit', sans-serif;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    text-shadow: 0 0 1px black;
}
.content {
    flex: 1;
}
.icon-container {
    
    text-align: center; /* จัดให้ไอคอนตรงกลาง */
}
.icon-container img{
    
    color : "#000";
    margin: 10px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); เพิ่มเงา */
}
.icon-container img :hover{
    transform: scale(1.2) translateY(-10px);
}
.search-bar {
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.footer-text{
    
    position: fixed;
    bottom: 0;
    width: 100% ;
    background-color: #f4f3f3;
    
}
.navbar-brand{
    color: #f4f3f3;
    text-decoration: none;
}
.navbar-brand2{
    color:#000;
    text-decoration: none;
}
.card-body  {
    padding: 10px;
    
  }
  .card-body :hover{
    box-shadow: 5px;
  }
  .container {
    justify-content: center;
    text-align: center;
  } 
  .btn{
    margin: 6px;
  }
  